/*
 *描述：主页待办事项板
 *页面：index.html
 */
#backlog-box {
    margin: 0 auto;
    text-align: center;
    background:url("../img/backlog.png") no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
#backlog {
    margin: auto;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    #backlog-box {
        width: 500px;
        height: auto;
    }
}
@media only screen and (min-width: 768px) {
    #backlog-box {
        width: 580px;
        height: auto;
    }
}
@media only screen and (min-width: 992px) {
    #backlog-box {
        width: 500px;
        height: auto;
    }
}
@media only screen and (min-width: 1200px) {
    #backlog-box {
        width: 580px;
        height: 300px;
    }
    #backlog {
        position: absolute;
        margin: 100px 0 0 60px;
        width: 450px;
        height: 150px;

    }
    #backlog table {

    }
}
