/*
 *描述：页面初始化
 *页面：*.html
 */
@import "part-header.css";
@import "part-body.css";
@import "part-footer.css";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*clear: both;*/
    font-family: 微软雅黑，华文细黑;
    font-size: 16px;!important;
    background-image: url("../img/background.jpg");
}
.left {
    float: left;
}
.right {
    float: right;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.center {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.kaiti {
    font-family: Kaiti, STKaiti;
}
.input-group{
    margin: 0;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, input, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
.list-group {
    margin-bottom: 0;
    padding-left: 0;
}







