@import "header.css";
@import "body.css";
@import "footer.css";

html,
body {
    margin: 0;
    padding: 0;
    /*clear: both;*/
    font-size: 10px;
    background-image: url("../img/background.jpg");
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, input, p {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*.left {*/
    /*float: left;*/
/*}*/

/*.right {*/
    /*float: right;*/
/*}*/

/*.container {*/
    /*margin: 0 auto;*/
    /*max-width: 1280px;*/
    /*width: 53%;*/
/*}*/





