footer {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5rem auto;
    padding: 5rem auto;
    text-align: center;
    color: #c1917f;
    position: relative;
    overflow: hidden;
}

.bottom {
    padding: 5rem 0;
}

