#content{
    background-color: #f9f9f9;
    height: auto;
    width: auto;
    border:1px solid #a1a1a1;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
#content-navbar a,
#content-navbar a:link,
#content-navbar a:visited,
#content-navbar a:hover,
#content-navbar a:active{
    text-decoration: none;
}
#content-navbar {
    background-color: #d8d8d8;
    border-bottom:1px solid #cbcbcb;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
#content-navbar a{
    color: grey;
}

#content-navbar a:hover,
#content-navbar .active{
    color: #783B1E;
}
#content-navbar i {
    display: block;
}
#content-navbar img{
    width: auto;
}
#content-navbar-menu{
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
}
#content-navbar li {
    text-align: center;
    color: white;
    display: inline-block;
}
#content-navbar li img {
    margin: 0 auto;
    display: block;
}
/*
 *描述：会员页面
 *页面：occupation.html
 */
#content-area-left .list-group,
#content-area-left .list-group-item:first-child,
#content-area-left .list-group-item:last-child {
    border-radius: 0;
}
#content-area,
#content-area-left,
#content-area-right,
#content-siderbar-menuList {
    float: left;
    margin: 0 auto;
}
.content-area-actionList{
    height: 35px;
}
.content-area-actionList,
.content-area-tableList,
.content-area-pagination{
    margin: 10px;
}
.content-area-tableList {
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    #content-navbar-daily li,
    #content-navbar-manage li {
        width: 50px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-right {
        height: 600px
    }
}
@media only screen and (min-width: 768px) {
    #content-navbar i {
        font-size: 25px
    }
    #content-navbar-home {
        margin-right: 5px
    }
    #content-navbar-switch {
        margin-left: 5px
    }
    #content-navbar li {
        padding: 4px
    }
    #content-navbar-menu{
        width: 600px
    }
    #content-navbar-menu li{
        width: 72px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-right {
        height: 600px
    }
}
@media only screen and (min-width: 992px) {
    #content-navbar i {
        font-size: 30px
    }
    #content-navbar-home {
        margin-right: 20px
    }
    #content-navbar-switch {
        margin-left: 20px
    }
    #content-navbar li {
        padding: 4px
    }
    #content-navbar-menu{
        width: 720px
    }
    #content-navbar-menu li{
        width: 85px
    }
    #content-area-left {
        height: 500px
    }
    #content-area-right {
        height: 500px
    }
}
@media only screen and (min-width: 1200px) {
    #content-navbar i {
        font-size: 40px
    }
    #content-navbar-home {
        margin-right: 30px
    }
    #content-navbar-switch {
        margin-left: 30px
    }
    #content-navbar li {
        padding: 8px
    }
    #content-navbar-menu{
        width: 880px
    }
    #content-navbar-menu li{
        width: 100px
    }
    #content-area {
        width: 1138px;
        height: 600px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-left .list-group{
        width: 179px;
    }
    .content-siderbar-innerList {
        height: 380px;
        color: #D8D8D8;
        overflow: auto;
    }
    #content-area-right {
        width: 959px;
        height: 600px
    }
    #content-area-right .content-area-tableList {
        width: 939px;
    }
    #content-area .content-area-tableList {
        width: 1118px;
    }
    .content-area-pagination {
        margin-top: 5px;
    }
    /*
     *描述：memberli
     *页面：occupation.html
     */
    /*#search-input {*/
        /*height: 20px;*/
    /*}*/
}