body{
    margin:0;
    padding:0;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:12px;
    line-height:22px;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,input,p{
    margin:0;
    padding:0;
    list-style-type:none;
}
input[type=button],input[type=submit]{cursor: pointer;}
img{ border:0;}
.clear{clear:both;}
a{
    color:#04a0e1;
    text-decoration:none;
    cursor:pointer;
}
a:hover{
    text-decoration:none;
}
li a:hover img,
dt li a:hover img{
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity:0.8;
}
/*头锟斤拷**/
#head{
    position:relative;
    margin:0 auto;
    width:951px;
    height:60px;
    overflow:hidden;
}
#head .logo{
    position:absolute;
    left:4px;
    top:10px;
    width:232px;
    height:48px;
    overflow:hidden;
}
#head .logo span{
    margin-top:-360px;
    position:absolute;
}
#head .buttom{
    position:absolute;
    right:3px;
    top:17px;
    width:360px;
    height:26px;
    overflow:hidden;
}
#head .buttom a{
    float:right;
    font-size:14px;
    color:#04b5ff;
    text-decoration:underline;
    margin-left:20px;
}
#head .buttom p{
    float:right;
    font-size:14px;
    color:#04b5ff;
    text-decoration:none;
    margin-left:20px;
}
#head .buttom a.an{
    margin-top:6px;
}
#container{
    position:relative;
    margin:0 auto;
    width:951px;
    height:auto;
    overflow:hidden;
}
#container .nav{
    width:935px;
    padding:87px 0 0 16px;
    height:112px;
    background:url('../images/nav.png') no-repeat center bottom;
    overflow:hidden;
}
#container .nav li{
    float:left;
    padding:0 13px;
    overflow:hidden;
}
#container .nav li a{
    display:block;
    width:70px;
    height:86px;
    text-align:center;
    line-height:24px;
    font-size:14px;
    color:#686868;
    overflow:hidden;
}
#container .nav li a.selected{
    color:#F00;
    text-decoration:none;
}
#container .nav li:hover a{
    color:#F00;
    text-decoration:none;
}
#container .nav li a span{
    display:block;
    width:100%;
    height:62px;
    overflow:hidden;
}
#container .nav li a.back span{
    background:url('../images/nav01.gif') no-repeat center center;
}
#container .nav li a.mun02 span{
    background:url('../images/nav02.gif') no-repeat center center;
}
#container .nav li a.mun03 span{
    background:url('../images/nav03.gif') no-repeat center center;
}
#container .nav li a.mun04 span{
    background:url('../images/nav04.gif') no-repeat center center;
}
#container .nav li a.mun05 span{
    background:url('../images/nav05.gif') no-repeat center center;
}
#container .nav li a.mun06 span{
    background:url('../images/nav06.gif') no-repeat center center;
}
#container .nav li a.mun07 span{
    background:url('../images/nav07.gif') no-repeat center center;
}
#container .nav li a.mun08 span{
    background:url('../images/nav08.gif') no-repeat center center;
}
#container .nav li a.mun09 span{
    background:url('../images/nav09.gif') no-repeat center center;
}
#container .nav li a.mun10 span{
    background:url('../images/nav10.gif') no-repeat center center;
}
#container .nav li a.mun11 span{
    background:url('../images/nav11.gif') no-repeat center center;
}
#container .nav li a.mun12 span{
    background:url('../images/nav12.gif') no-repeat center center;
}
#container .nav li a.mun13 span{
    background:url('../images/nav13.gif') no-repeat center center;
}
#container .nav li a.mun14 span{
    background:url('../images/nav14.gif') no-repeat center center;
}
#container .nav li a.mun15 span{
    background:url('../images/nav08.gif') no-repeat center center;
}
#container .nav li a.mun16 span{
    background:url('../images/nav6.gif') no-repeat center center;
}
#container .nav li a.mun17 span{
    background:url('../images/nav17.gif') no-repeat center center;
}
#container .nav li a.mun02,
#container .nav li a.mun08{
    margin-left:30px;
}
#container .nav li a.mun10{
    margin-left:78px;
}
#container .nav li a.mun15{
    margin-left:78px;
}
#container .nav li a span div{
    float:right;
    margin-top:2px;
    width:23px;
    height:22px;
    line-height:22px;
    font-family:"Arial";
    font-size:10px;
    color:#fff;
    background:url('../images/nav09.png') no-repeat;
    overflow:hidden;
}
#container .content{
    width:100%;
    height:549px;
    background:url('../images/content.png') repeat-y ;
    overflow:hidden;
}
#container .content .top{
    margin:0 auto;
    width:875px;
    height:64px;
    overflow:hidden;
}
#container .content .top input{
    float:right;
    width:104px;
    padding-left:12px;
    height:36px;
    line-height:36px;
    border:none;
    font-size:14px;
    color:#cccccc;
    background:url('../images/input03.gif') no-repeat;
    margin:1px 6px 0;
    overflow:hidden;
}
#container .content .top input.num01{
    width:37px;
    height:39px;
    padding:0;
    background:url('../images/input01.gif') no-repeat;
    margin:0 0 0 7px;
}
#container .content .top input.num02{
    width:156px;
    /*background:url('../images/input02.gif') no-repeat;*/
    background:#FFFFFF;
    border:1px solid #CFCBC8;
    margin:1px 0 0 22px;
}

input.num02{
    width:120px;
    /*background:url('../images/input02.gif') no-repeat;*/
    background:#FFFFFF;
    border:1px solid #CFCBC8;
    margin:0px 0 0 22px;

}

#container .content .top input.num03{
    float:left;
    width:76px;
    height:37px;
    text-align:center;
    padding:0;
    color:#686868;
    margin:1px 10px 0 0;
    background:url('../images/input04.gif') no-repeat;
}
#container .content .top input.num04{
    width:76px;
    height:37px;
    text-align:center;
    padding:0;
    color:#686868;
    margin:1px 10px 0 0;
    background:url('../images/input04.gif') no-repeat;
}
#container .content .top strong{
    float:right;
    display:block;
    width:14px;
    height:36px;
    line-height:36px;
    text-align:center;
    color:#a7a0a0;
    background:url('../images/top01.gif') no-repeat center center;
    overflow:hidden;
}
#container .content .top a{
    font-size:16px;
    margin-top:6px;
    float:left;
}
#container .content .top p{
    font-size:16px;
    margin:6px auto 0;
    width:300px;
    text-align:center;
    color:#1a1b1b;
    overflow:hidden;
}
#container .content .paging{
    width:100%;
    text-align:center;
    height:40px;
    overflow:hidden;
    margin: 0 auto;
}

#container .content .paging	span {
    height:30px;
    min-width:60px;
    line-height:30px;
    text-align: center;
    background: url("../images/page_big_x.gif") no-repeat scroll center center transparent;
    border-color: #999999;
    color: #999999;
    cursor:pointer;
    margin: 0 2px;
    display: inline-block;
    font-family: "Myriad Pro";
    color: #717171;
    overflow: hidden;
}


#container .content .paging .hover{
    background:url('../images/page_big_y.gif') no-repeat center center;
    color:#f2f2f2;
}



#container .content .paging a{
    display:inline-block;
    min-width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    /*background:url('../images/page_small_y.gif') no-repeat center center;*/
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 2px;
    overflow:hidden;
}
#container .content .paging a:hover,
#container .content .paging a.current{
    /*background:url('../images/page_small_x.gif') no-repeat center center;*/
    color:#f2f2f2;
}

#container .content .paging .pageCount {
    margin: 0 auto auto 3px;
    height: 30px;
    font-size: 13px;
    color: #999;
    vertical-align: top;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
}
#container .bottom{
    width:100%;
    height:51px;
    background:url('../images/bottom.png') no-repeat center top;
    overflow:hidden;
}
/*锟斤拷权*/
#foot{
    position:relative;
    margin:3% auto;
    width:951px;
    height:59px;
    text-align:center;
    font-family:"Arial";
    color:#c1917f;
    overflow:hidden;
    cursor: default;
}



#container .content .list{
    margin:0 auto;
    width:949px;
    height: auto;
    /*overflow:hidden;*/
}
#container .content .list li.tit{
    overflow: visible;
}
#container .content .list li{
    float:left;
    width:91.5%;
    padding:0 40px;
    height:48px;
    line-height:48px;
    text-align:center;
    color:#606060;
    font-size:14px;
    margin-bottom:1px;
    overflow:hidden;

}
#container .content .list li.tit ol{
    overflow: visible;
}
#container .content .list li ol{
    float:left;
    width:65px;
    overflow:hidden;

}
#container .content .list li ol.ber01{
    width:386px;
    text-align:left;
}
#container .content .list li ol.ber03{
    width:155px;
}
#container .content .list li ol.ber04{
    width:100px;
}
#container .content .list li ol.ber05{
    width:138px;
    padding-left:8px;
}
#container .content .list li ol.ber06{
    width:166px;
}
#container .content .list li ol.ber07{
    width:106px;
}
#container .content .list li ol.ber08{
    width:120px;
}
#container .content .list li ol.ber09{
    width:230px;
}
#container .content .list li ol.ber10{
    width:98px;
}
#container .content .list li ol.ber11{
    width:141px;
}
#container .content .list li ol.ber12{
    width:76px;
}
#container .content .list li ol.ber13{
    width:378px;
}
#container .content .list li ol.ber14{
    width:150px;
}
#container .content .list li ol.ber15{
    width:95px;
}
#container .content .list li ol.ber16{
    width:306px;
}
#container .content .list li ol.ber17{
    width:126px;
}
#container .content .list li ol.ber18{
    width:125px;
}




#container .content .list li ol select{
    width:89px;
    height:26px;
    line-height:26px;
    border:none;
    background-color:#b8b8b8;
    color:#fff;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
}

#container .content .list li ol a{
    margin:0 7px;
}
#container .content .list li.tit{
    height:26px;
    background:none;
}
#container .content .list li.tit ol{
    text-align:center;
    font-size:14px;
    line-height:26px;
    padding-top:0;
    color:#adadad;
    vertical-align:text-bottom;
}
#container .content .list li.no{
    background-color:#e5e5e5;
}




#container .content .stub2{
    width:890px;
    height:35px;
    margin:0 auto;
    padding-top:4px;
    overflow:hidden;
}
#container .content .stub2 input{
    width:66px;
    height:29px;
    line-height:29px;
    text-align:center;
    font-size:14px;
    color:#686868;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    border:none;
    background:url('../images/input05.gif') no-repeat;
}
#container .content .c_inof{
    width:949px;
    height:36px;
    margin:0 auto;
    font-size:16px;
    color:#333;
    overflow:hidden;
}
#container .content .c_inof .photo{
    float:right;
    width:183px;
    height:138px;
    line-height:138px;
    text-align:center;
    border:3px solid #fff;
    margin-right:23px;
    overflow:hidden;
}
#container .content .c_inof dt{
    width:100%;
    height:36px;
    line-height:36px;
    border-bottom:1px solid #d9d8d8;
    background-color:#e5e5e5;
    text-indent:33px;
    margin-bottom:20px;
    overflow:hidden;
}
#container .content .c_inof dt a{
    float:right;
    margin-right:28px;
}
#container .content .c_inof dd{
    width:688px;
    padding:0 0 20px 33px;
    overflow:hidden;
}
#container .content .c_inof dd span{
    float:left;
    width:96px;
    color:#686868;
    overflow:hidden;
}
#container .content .c_inof dd p{

    width:586px;
    overflow:hidden;
}
#container .content .c_inof dd p i{
    font-style:normal;
    color:#04a0e1;
    padding:0 12px;
}

#container .content .ak dd{
    width:362px;
    padding:0 0 20px 0;
    float:left;
}
#container .content .ak dd span{
    width:122px;
}
#container .content .ak dd span.chang{
    padding-left:33px;
}
#container .content .ak dd.long{
    width:891px;
    padding-left:10px;
}
#container .content .ak dd.long p{
    padding-left:33px;
    width:768px;
}
#container .content .ak dd i{
    font-style:normal;
    color:#04a0e1;
}
#container .content .ak dd.dua{
    width:891px;
    padding-left:33px;
}
#container .content .ak dd.dua p{
    width:891px;
}

#container .content .index dd{
    width:881px;
    padding:0 0 30px 33px;
    line-height:26px;
    overflow:hidden;
}
#container .content .index dd p{
    width:778px;
}
#container .content .index dd p b{
    font-weight:normal;
    float:left;
    width:77px;
    overflow:hidden;
}

.arrowLeft
{
    width:24px;
    text-align:center;
    cursor:pointer;
    background:url('../images/ArrowLeft.png') no-repeat center center;
}


.arrowRight
{
    width:24px;
    text-align:center;
    cursor:pointer;
    background:url('../images/ArrowRight.png') no-repeat center center;
}

.inputButton{
    width:66px;
    height:29px;
    line-height:29px;
    text-align:center;
    font-size:14px;
    color:#686868;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    border:none;
    background:url('../images/input05.gif') no-repeat;
}

/*锟斤拷锟斤拷锟斤拷锟�*/
.error{
    width:100%;
    height:510px;
    padding-top:180px;
}
.error div{
    width:240px;
    height:50px;
    margin:0 auto;
    text-align:left;
    background:url(../images/icon_warning.png) no-repeat left center;
}
.error div p{
    display:block;
    width:150px;
    height:25px;
    margin-left:80px;
    font-size:18px;
    color:#bcbcbc;
    font-weight:600;
}

.addbeiwang{
    width: 45px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    background: #DF6161;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
}

.addbeiwang:hover{
    background: #760202;
}

#beiwangneirong{
    height: 200px;
    width: 340px;
    resize: none;
    margin-top: 22px;
}

.beiwang_btn_group{
    width:100%;
    text-align: center;
    margin-top: 20px;
}

.beiwang_btn{
    padding: 5px 10px;
    margin: 0px 5px;
}