body {
    background-image: none;
}

.ding {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    background: url('../images/bj05.jpg') repeat;
    overflow: hidden;
    display: none;
    visibility: hidden;
}

.ding ul {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    text-align: center;
}

.ding ul li {
    float: left;
    width: 25%;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}

.ding ul li a {
    color: #646464;
    font-size: 22px;
}

.ding ul li a:hover {
    color: #04a0e1;
}

.dbj {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: url('../images/bj.jpg') repeat center top;
    overflow: hidden;
}

.dbj .qh {
    position: absolute;
    top: 18px;
    right: 6px;
    z-index: 999;
}

.dbj .qh a {
    font-size: 14px;
    color: #04b5ff;
}

#mian {
    position: relative;
    margin: 0 auto;
    width: 976px;
    padding: 72px 0 0 26px;
    overflow: hidden;
}

#mian .left {
    float: left;
    width: 432px;
    height: 598px;
    padding: 60px 30px 0;
    background: url('../images/bj03.png') no-repeat center top;
    overflow: hidden;
}

#mian .left h2 {
    width: 402px;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #686868;
    background: url('../images/bj04.png') repeat-x center center;
    overflow: hidden;
}

#mian .left h2 span {
    background: url('../images/bj05.jpg') repeat;
    padding: 0 8px;
}

#mian .left ul {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}

#mian .left ul li {
    float: left;
    padding: 5px 19px;
    overflow: hidden;
    cursor: pointer;
}
#mian .left ul li>div{
    position: relative;
}

#mian .left ul li a {
    display: block;
    width: 70px;
    height: 86px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #783B1E;
    font-weight: bold;
    overflow: hidden;
    transition: font-weight 1s, color 1s, transform 1s;
    -moz-transition: font-weight 1s, color 1s, -moz-transform 1s; /* Firefox 4 */
    -webkit-transition: font-weight 1s, color 1s, -webkit-transform 1s; /* Safari and Chrome */
    -o-transition: font-weight 1s, color 1s, -o-transform 1s; /* Opera */
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transform-style: preserve-3d;
}

#mian .left ul li:hover a{
    color: #0E69CF;
    font-weight: bolder;
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg); /* Firefox 4 */
    -webkit-transform: rotateY(360deg); /* Safari and Chrome */
    -o-transform: rotateY(360deg); /* Opera */
}

#mian .left ul li a span {
    display: block;
    width: 100%;
    height: 62px;
    overflow: hidden;
}

#mian .left ul li a.mun02 span {
    background: url('../images/nav02.gif') no-repeat center center;
}

#mian .left ul li a.mun03 span {
    background: url('../images/nav03.gif') no-repeat center center;
}

#mian .left ul li a.mun04 span {
    background: url('../images/nav04.gif') no-repeat center center;
}

#mian .left ul li a.mun05 span {
    background: url('../images/nav05.gif') no-repeat center center;
}

#mian .left ul li a.mun06 span {
    background: url('../images/nav06.gif') no-repeat center center;
}

#mian .left ul li a.mun07 span {
    background: url('../images/nav07.gif') no-repeat center center;
}

#mian .left ul li a.mun08 span {
    background: url('../images/icon06.jpg') no-repeat center center;
    margin-top: 10px;
}

#mian .left ul li a.mun09 span {
    background: url('../images/icon07.gif') no-repeat center center;
}

#mian .left ul li a.mun10 span {
    background: url('../images/icon08.gif') no-repeat center center;
}

#mian .left ul li a.mun11 span {
    background: url('../images/icon09.gif') no-repeat center center;
}

#mian .left ul li a.mun12 span {
    background: url('../images/icon10.gif') no-repeat center center;
}

#mian .left ul li a.mun13 span {
    background: url('../images/icon11.gif') no-repeat center center;
}

#mian .left ul li a.mun14 span {
    background: url('../images/icon12.gif') no-repeat center center;
}

#mian .left ul li a.mun16 span {
    background: url('../images/nav6.gif') no-repeat center center;
}

#mian .left ul li a.mun15 span {
    background: url('../images/nav15.gif') no-repeat center center;
}

#mian .left ul li a.mun18 span {
    background: url('../images/nav18.gif') no-repeat center center;
}

#mian .left ul li a.mun20 span {
    background: url('../images/nav20.gif') no-repeat center center;
}

#mian .left ul li a.mun21 span {
    background: url('../images/lottery.png') no-repeat center center;
}

#mian .left ul li a.mun22 span {
    background: url('../images/icon_hot.png') no-repeat center center;
}

#mian .right {
    float: right;
    width: 470px;
    overflow: hidden;
}

#mian .right .calendar {
    float: left;
    width: 100%;
    height: 374px;
    overflow: hidden;
}

#mian .right .todo {
    float: left;
    width: 420px;
    height: 225px;
    padding-top: 23px;
    margin-left: 23px;
    background: url('../images/todo.png') no-repeat right top;
    overflow: hidden;
}

#mian .right .todo dt,#mian .right .todo dd {
    float: right;
    width: 393px;
    margin-right: 18px;
    padding-top: 5px;
    border-bottom: 1px solid #eae095;
    overflow: hidden;
}

#mian .right .todo dd .p01 {
    float: right;
    margin-right: 5px;
}

#mian .right .todo dd .p01 a {
    float: right;
    font-size: 12px;
    color: #04b5ff;
    text-decoration: none;
    margin-left: 10px;
}

#mian .right .todo dt {
    height: 52px;
    line-height: 52px;
    font-size: 18px;
}

#mian .right .todo dt span {
    float: left;
    display: inline-block;
    width: 16px;
    height: 52px;
    background: url('../images/icon13.gif') no-repeat center center;
    margin-right: 5px;
    overflow: hidden;
}

#mian .right .todo dt a {
    float: right;
    margin-top: 12px;
}

#mian .right .todo dd {
    height: 26px;
    line-height: 26px;
    color: #3c3926;
    font-size: 12px;
    text-indent: 5px;
}

#mian .left ul li a.mun17 span {
    background: url('../images/nav17.gif') no-repeat center center;
}

#mian .left ul li a.mun171 span {
    background: url('../images/qiye_main.png') no-repeat center center;
}

#mian .left ul li a.mun1711 span {
    background: url('../images/toupiao_main.png') no-repeat center center;
}

.target_span {
    display: inline;
    position: absolute;
    top: 5%;
    background: #FF0000;
    color: #FFF;
    padding: 0px 8px;
    border-radius: 50%;
    right: 18%;
    transition: transform 1s;
    -moz-transition: -moz-transform 1s; /* Firefox 4 */
    -webkit-transition: -webkit-transform 1s; /* Safari and Chrome */
    -o-transition: -o-transform 1s; /* Opera */
    -webkit-transform-style: preserve-3d;
}
#mian .left ul li:hover .target_span{
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg); /* Firefox 4 */
    -webkit-transform: rotateY(360deg); /* Safari and Chrome */
    -o-transform: rotateY(360deg); /* Opera */
}