.bj{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:920px;
    z-index:9;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity:0.5;
}

.window{
    position:absolute;
    top:106px;
    left:33%;
    width:466px;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #dbdcdd;
    padding-bottom:8px;
    overflow:hidden;
    z-index:10;

}
.window .top{
    width:416px;
    padding:0px 25px 0 25px;
    height:48px;
    line-height:48px;
    font-size:18px;
    background-color:#ececec;
    border-bottom:1px solid #d8d8d8;
    overflow:hidden;
}
.window .top .close{
    float:right;
    margin-top:14px;
}
.window .top span{
    padding:0 6px;
}
.appiy {
    width:850px;
    height:600px;
    left:18%;
    position: absolute;
}
.appiy .top{
    width:800px;
}
.appiy > div{width:850px;overflow:hidden;position: relative;}
.appiy div table{
    width: 820px;
    overflow: hidden;
    text-align:left;
    text-indent: 10px;
    font-size: 18px;
    color:#686868;}
.appiy div table tr{line-height: 34px;}
.appiy div table tr th{border-bottom:1px solid #D8D8D8;text-align: center;}
.appiy div table tr td.tdTitle{width: 120px;overflow: hidden;}
.appiy div table tr td.tdContent{width: 240px;overflow: hidden;}
.appiy div table tr td select{width: 100px;height: 20px;overflow: hidden;vertical-align:middle;}
.appiy div table tr td input{height: 30px; vertical-align:middle;font-family:"寰蒋闆呴粦", "瀹嬩綋";font-size:15px;color:#686868;}
.appiy div table tr td input.one{border:1px solid #c9c5c1;background-color:#f1f1f1;}
.appiy div table tr td input[type=radio]{vertical-align:middle;margin:0 15px;}
.appiy div table tr td input[type=button]{width:103px;height:41px;line-height:39px;text-align:center;border:none;background:url('../images/input06.gif') no-repeat;margin:0 5px;}
.appiy div table tr td input[type=text]{width: 270px;overflow: hidden;}
.appiy div table tr td textarea{
    border:1px solid #c9c5c1;
    background-color:#f1f1f1;
    width: 670px;
    height: 200px;
    color: #686868;
    font-size: 15px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋"
}


.appiy dl{margin:0 auto;width:100%;overflow:hidden;}
.appiy dl dt{
    text-align:center;
    color:#686868;
    width:850px;
    height:28px;
    line-height:28px;
    padding:7px 35px 0 20px;
    font-size:18px;
    border-bottom:1px solid #d8d8d8;
    margin-bottom:8px;
    overflow:hidden;
}
.appiy dl dt a{
    float:right;
}
.appiy dl dd{
    padding-top:10px;
    padding-left:50px;
    float:left;
    margin:0 auto;
    width:370px;
    padding-bottom:12px;
    line-height:34px;
    font-size:15px;
    color:#686868;
    overflow:hidden;
}
.appiy dl dd span{
    float:left;
    width:85px;
    overflow:hidden;
}
.appiy dl dd label{
    margin-right:12px;
}
.appiy dl dd input{
    vertical-align:middle;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
    margin-right:12px;
}
.appiy dl dd input.one{
    width:auto;
    height:30px;
    line-height:32px;
    border:1px solid #c9c5c1;
    background-color:#f1f1f1;
}
.appiy dl dd textarea{
    border:1px solid #c9c5c1;
    background-color:#f1f1f1;
}
.appiy dl dd.button{
    text-align:center;
    padding-top:12px;
}
.appiy dl dd.button input{
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
}
.appiy div div.companyList{
    position:absolute;
    top:627px;
    left:140px;
    width: 240px;
    display: block;
    z-index: 13;
    border: 1px solid #B8B8B8;
    background-color: #F0F0F0;
    padding:1px;
    display:none;
    font-family:'瀹嬩綋';
    font-size: 14px;
    line-height:26px;
    overflow:hidden;
}
.appiy div div.companyList div{
    cursor: pointer;
    color: #949494;
    background-color: #F0F0F0;
    display: block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 2px 0px 4px;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
}
.appiy div div.companyList div:hover{
    background: #576fc0;
    color: #FFFFFF;
    text-decoration: none;
}
.appiy div div.companyList > .item{
    background: #576fc0;
    color: #FFFFFF;
    text-decoration: none;
}
.window .orien{
    float:right;
    width:435px;
    font-size:14px;
    color:#686868;
    overflow:hidden;
}
.window .orien dl{
    width:100%;
    overflow:hidden;
}
.window .orien dl dt{
    width:430px;
    height:102px;
    overflow:hidden;
}

.window .orien dl dt a{
    font-size:14px;
    text-decoration: underline;
}
.window .orien dl dt div.divWord{
    float:left;
    width: 240px;
    height: 90px;
}
.window .orien dl dt div.divWord p{
    width: 240px;
    height: 40px;
    line-height:45px;
    font-size: 14px;
}
.window .orien dl dt div.divWord p.pWord1{
    color: #FF0000;
}
.window .orien dl dt div.divWord p.pWord2{
    text-indent: 20px;
    background:url('../images/icon_import_img1.png') no-repeat center left ;
}
.window .orien dl dt div.divWord p.pWord2 a{
    vertical-align: t
}
.window .orien dl dt div.divImg{
    float:right;
    width: 170px;
    height: 90px;
    background: url('../images/icon_import_img2.png') no-repeat center left ;
}
.window .orien dl dt div.divImg img{
    margin-top: 25px;
}
.window .orien dl dd{
    width:100%;
    padding-bottom:16px;
    overflow:hidden;
}
.window .orien dl dd input[type="button"]{
    float:left;
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
    margin-right:10px;
}
.window .orien dl dd input[type="submit"]{
    float:left;
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
    margin-right:10px;
}
.window .orien dl dd input[type="checkbox"]{
    vertical-align:middle;
    line-height:20px;
}
.window .orien dl dd span.ddSpan{
    font-size:15px;
    margin-left:10px;
}


.window .orien dl dd input.two{
    width:300px;
    height:38px;
    line-height:38px;
    border:1px solid #c9c5c1;
    background-color:#f1f1f1;
    background-image:none;
    text-align:left;
}
.window .orien p{
    font-size:13px;
}
.window .orien p span{
    font-size:16px;
    color:#2d2d2d;
}
.window .other{
    width:408px;
    margin:0 auto;
    padding-top:10px;
    font-size:15px;
    color:#686868;
    overflow:hidden;
}
.window .other dd,
.window .other dt{
    width:100%;
    padding-bottom:16px;
    overflow:hidden;
}
.window .other span{
    float:left;
    width:92px;
    overflow:hidden;
}
.window .other dd input{
    width:308px;
    height:31px;
    line-height:31px;
    border:1px solid #c9c5c1;
    background-color:#f2f2f2;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.window .other dd input.three{
    width:64px;
    height:38px;
    line-height:33px;
    border:none;
    background:url('../images/input10.gif') no-repeat;
    margin-left:10px;
}
.window .other dd input.two{
    width:192px;
    height:33px;
    line-height:33px;
    border:none;
    background:url('../images/input09.gif') no-repeat;
}
.window .other dd input.one{
    width:233px;
}
.window .other dt span{
    height:90px;
    line-height:90px;
}
.window .other dt textarea{
    width:308px;
    height:90px;
    line-height:24px;
    border:1px solid #c9c5c1;
    background-color:#f2f2f2;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.window .other dt.button{
    text-align:center;
    padding-top:8px;
}
.window .other dt.button input{
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.window .add{
    width:394px;
    margin:0 auto;
    padding-top:10px;
    font-size:15px;
    color:#686868;
    overflow:hidden;
}
.window .add dd,
.window .add dt{
    width:100%;
    padding-bottom:8px;
    line-height:38px;
    overflow:hidden;
}
.window .add span{
    float:left;
    width:69px;
    overflow:hidden;
}
.window .add dd input{
    width:314px;
    height:36px;
    line-height:36px;
    border:1px solid #c9c5c1;
    background-color:#f2f2f2;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.window .add dt input{
    vertical-align:middle;
    margin-right:10px;
}
.window .add dt label{
    margin-right:10px;
    margin-left:20px;
}
.window .add dt label.perlabel{
    margin-left:0px;
}
.window .add dd input.two{
    width:192px;
    height:33px;
    line-height:33px;
    border:none;
    background:url('../images/input09.gif') no-repeat;
    margin-right:13px;
}
.window .add dd a{
    margin-left:10px;
    font-size:16px;
}
.window .add dt.button{
    text-align:center;
    padding-top:8px;
}
.window .add dt.button input{
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.window .post{
    width:420px;
}
.window .post span{
    width:86px;
}
.window .post dt{
    line-height:26px;
}
.window .post dt span{
    height:108px;
    line-height:108px;
}
.window .post dt label{
    width:100px;
    float:left;
}
.window .post dt label.perlabel{
    float:none;
}
.window .post textarea{
    width:312px;
    height:62px;
    line-height:24px;
    border:1px solid #c9c5c1;
    background-color:#f2f2f2;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
}
.window .post dd input.three{
    width:238px;
    margin-right:10px;
}
.window .default{
    width:406px;
}

.window .default span{
    width:52px;
}
.window .default dd select{
    width:38px;
    margin:0 6px;
}
.window .default dd textarea{
    width:350px;
}
.window .default dd b{
    float:right;
    margin-right:5px;
    font-weight:normal;
}
.window .default dd b input{
    width:auto;
    height:auto;
    margin-right:5px;
}







.movable{
    left:19%;
    width:830px;
}
.movable .top{
    width:780px;
    margin-bottom:10px;
}
.movable .unstoady{
    float:right;
    width:800px;
    font-size:15px;
    color:#686868;
    line-height:38px;
    overflow:hidden;
}
.movable .unstoady span{
    float:left;
    width:108px;
    overflow:hidden;

}
.movable .unstoady span.near{
    float:left;
    width:48px;
    overflow:hidden;
}
.movable .unstoady input{
    width:245px;
    height:36px;
    line-height:36px;
    border:1px solid #c9c5c1;
    background-color:#fafafa;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.movable .unstoady dt{
    float:left;
    width:100%;
    padding-bottom:12px;
    overflow:hidden;
}
.movable .unstoady dt input{
    width:643px;
}
.movable .unstoady dt textarea{
    width:643px;
    height:239px;
    line-height:24px;
    border:1px solid #c9c5c1;
    background-color:#fafafa;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.movable .unstoady dt textarea.long{
    height:350px;
}
.movable .unstoady dt .dis{
    height:139px;
    line-height:139px;
}
.movable .unstoady dt a{
    float:left;
    display:block;
    width:135px;
    height:135px;
    text-align:center;
    padding:1px;
    border:1px solid #d5d5d5;
    background:url('../images/icon04.gif') no-repeat center center #f7f5f5;
    overflow:hidden;
    margin-right:28px;
}

.movable .unstoady dt a img{
    width:135px;
    height:135px;
}
.movable .unstoady dt a span{
    padding-top:80px;
    float:left;
    width:100%;
    color:#686868;
}
.movable .unstoady dt.name a{
    width:83px;
    height:30px;
    line-height:30px;
    text-align:left;
    border:1px solid #dbc1b1;
    background:url('../images/icon05.gif') no-repeat 65px center #fff2ed;
    margin:0 6px 10px 0;
    color:#000;
    text-indent:11px;
    font-size:14px;
}
.movable .unstoady dt.name .dis{
    height:80px;
    line-height:80px;
}
.movable .unstoady dt.name input{
    width:88px;
    line-height:33px;
    font-size:14px;
    border:none;
    background:url('../images/input08.gif') no-repeat;
}
.movable .unstoady dt input.short{
    width:283px;
}
.movable .unstoady dd{
    float:left;
    width:376px;
    padding-bottom:12px;
    overflow:hidden;
}
.movable .unstoady dd.acttime{
    float:left;
    width:370px;
    padding-bottom:12px;
    overflow:hidden;
}

.movable .unstoady dd input{
    width:245px;
}
.movable .unstoady dd input.three{
    width:30px;
    text-align:center;
    margin:0 7px;
}
.movable .unstoady dd input.two{
    width:125px;
    height:38px;
    line-height:38px;
    border:none;
    background:url('../images/input07.gif') no-repeat;
}
.movable .unstoady dt.button{
    text-align:center;
    padding-top:12px;
}
.movable .unstoady dt.button a.join {
    float:left;
    display:block;
    width:129px;
    height:30px;
    line-height:30px;
    text-align: center;
    color:#000;
    font-size:14px;
    border:1px solid #dbc1b1;
    background:url('../images/icon05.gif') no-repeat 110px center #fff2ed;
}
.movable .unstoady dt.button input{
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
}

.ente{
    left:27%;
    width:630px;
}
.ente .top{
    width:580px;
}
.ente dl{
    width:100%;
    padding-top:14px;
    font-size:15px;
    color:#686868;
    line-height:38px;
    overflow:hidden;
}
.ente dl dd{
    float:left;
    width:304px;
    padding-bottom:12px;
    overflow:hidden;
}
.ente dl dt{
    float:left;
    width:100%;
    padding-bottom:12px;
    overflow:hidden;
}
.ente dl span{
    float:left;
    width:83px;
    padding-left:28px;
    overflow:hidden;
}
.ente dl input{
    width:188px;
    height:36px;
    line-height:36px;
    border:1px solid #c9c5c1;
    background-color:#f1f1f1;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}
.ente dl textarea{
    width:492px;
    height:62px;
    line-height:24px;
    border:1px solid #c9c5c1;
    background-color:#f2f2f2;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
}
.ente dl dt input{
    width:492px;
}
.ente dl dt.button{
    text-align:center;
    padding-top:8px;
}
.ente dl dt.button input{
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
}



.send{
    left:20%;
    width:810px;
    padding-bottom:0px;
}
.send .top{
    width:760px;
    float:left;
}
.send .left{
    float:left;
    width:435px;
    padding-top:10px;
    line-height:38px;
    font-size:15px;
    color:#686868;
    border-right:1px solid #d8d8d8;
    overflow:hidden;
}
.send .left dt{
    width:404px;
    padding:0 16px 10px;
    border-bottom:1px solid #d8d8d8;
    overflow:hidden;
}
.send .left dt input{
    width:216px;
    height:38px;
    line-height:38px;
    padding-left:10px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:15px;
    color:#686868;
    border:none;
    background:url('../images/input12.gif') no-repeat;
    float:left;
}
.send .left dt input.one{
    padding:0;
    width:79px;
    height:39px;
    text-align:center;
    background:url('../images/input11.gif') no-repeat;
    margin-left:10px;
}
.send .left dt.button{
    text-align:center;
    padding-top:8px;
    border:none;
}
.send .left dt.button input{
    float:none;
    padding:0;
    width:103px;
    height:41px;
    line-height:39px;
    text-align:center;
    border:none;
    background:url('../images/input06.gif') no-repeat;
    margin:0 5px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:18px;
    color:#686868;
}
.send .left dd{
    width:404px;
    padding:10px 16px 0;
    overflow:hidden;
}
.send .left dd.no{
    height:214px;
    border-bottom:1px solid #d8d8d8;
}
.send .left dd.no a{
    float:left;
    display:block;
    width:125px;
    height:30px;
    line-height:30px;
    text-indent:8px;
    color:#000;
    font-size:14px;
    border:1px solid #dbc1b1;
    background:url('../images/icon05.gif') no-repeat 110px center #fff2ed;
}
.send .left dd textarea{
    width:404px;
    height:144px;
    line-height:24px;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:13px;
    color:#686868;
    border:none;
    background:url('../images/input13.gif') no-repeat;
    float:left;
}
.send .left dd input{
    margin-right:6px;
}
.send .left dd label{
    float:left;
}
.send .left dd .rig{
    float:right;
}

.send .right{
    float:left;
    width:355px;
    padding:10px 9px 0;
    line-height:38px;
    font-size:15px;
    background-color:#f5f5f5;
    color:#686868;
    overflow:hidden;
}
.send .right .search{
    width:100%;
    height:48px;
    overflow:hidden;
}
.send .right .search input{
    float:left;
    width:158px;
    height:37px;
    line-height:37px;
    border:none;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
    background:url('../images/input14.gif') no-repeat;
}
.send .right .search input.one{
    width:75px;
    height:39px;
    background:url('../images/input15.gif') no-repeat;
    margin-left:6px;
    text-align:center;
}
.send .right .search input.two{
    width:79px;
    height:39px;
    float:right;
    background:url('../images/input16.gif') no-repeat;
    text-align:center;
}

.tabbox{
    margin:0 auto;
    width:100%;
}
.tab_conbox{
    border:none;
}
.tab_con{
    display:none;
}
.tabs{
    width:100%;
    height:35px;
}
.tabs li{
    height:35px;
    float:left;
    overflow:hidden;
}
.tabs li a{
    display:block;
    width:71px;
    height:31px;
    line-height:35px;
    outline:none;
    color:#8c8d8d;
    font-size:16px;
    text-align:center;
    border:none;
}
.tabs li a:hover {
    text-decoration:none;
    color:#67b8e1;
    border-bottom:3px solid #0891d7;
}
.tabs .thistab a,.tabs .thistab a:hover{
    text-decoration:none;
    color:#67b8e1;
    border-bottom:3px solid #0891d7;
}
/*tab锟斤拷锟斤拷*/
.tab_con{
    width:100%;
    height:446px;
}
.tab_con dl{
    width:100%;
    padding-top:8px;
    font-size:14px;
    color:#666;
    overflow:hidden;
}
.tab_con dl dd{
    width:100%;
    height:32px;
    line-height:32px;
    overflow:hidden;
}
.tab_con dl dd.no{
    width:100%;
    height:29px;
    line-height:29px;
    background-color:#fff;
    overflow:hidden;
}
.tab_con dl dd span{
    float:left;
    width:76px;
    overflow:hidden;
}
.tab_con dl dd span.an01{
    width:188px;
}
.tab_con dl dd span.an02{
    width:88px;
}
.tab_con dl dd span.an03{
    width:110px;
}
.tab_con dl dd span.an04{
    width:160px;
}
.tab_con .paging{
    width:100%;
    text-align:center;
    padding-top:10px;
    height:28px;
    overflow:hidden;
}
.tab_con .paging a{
    display:inline-block;
    width:26px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:url('../images/paging_a.gif') no-repeat center center;
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 3px;
    overflow:hidden;
}
.tab_con .paging a:hover,
.tab_con .paging a.current{
    background:url('../images/paging_h.gif') no-repeat center center;
    color:#f2f2f2;
}


.upload{
    left:20%;
    width:862px;
}
.upload .top{
    width:813px;
}
.upload .up{
    width:767px;
    margin:0 auto;
    height:48px;
    line-height:33px;
    padding-top:10px;
    font-size:14px;
    color:#686868;
    overflow:hidden;
}
.upload .up input{
    width:192px;
    height:33px;
    line-height:33px;
    border:none;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
    background:url('../images/input18.gif') no-repeat;
    margin:0 34px 0 8px;
}
.upload .up select{
    width:152px;
    height:28px;
    line-height:28px;
    border:none;
    font-family:"瀹嬩綋";
    font-size:18px;
    color:#686868;
    background:url('../images/input20.gif') no-repeat;
    margin:8px 15px 0 8px;
}
.upload .up input.rgh{
    float:right;
    width:136px;
    height:41px;
    line-height:36px;
    background:url('../images/input17.gif') no-repeat;
    margin:0 0 0 8px;
}
.upload .up a{
    font-size:16px;
    margin-left:14px;
}
.upload .kuang{
    margin:0 auto;
    width:862px;
    height:560px;
    border:1px solid #cdcdd0;
    overflow:hidden;
}



.movable .xiang{
    width:767px;
    height:650px;
    margin:0 auto;
    overflow:hidden;
}
.movable .xiang .yu{
    width:100%;
    overflow:hidden;
}
.movable .xiang .yu .zuo,
.movable .xiang .yu .you{
    float:left;
    display:block;
    width:18px;
    height:26px;
    background:url('../images/window03.gif') no-repeat;
    overflow:hidden;
    margin-top:36px;
}
.movable .xiang .yu .you{
    float:right;
    background:url('../images/window04.gif') no-repeat;
}
.movable .xiang .yu ul{
    float:left;
    width:726px;
    height:100px;
    margin-left:4px;
    overflow:hidden;
}
.movable .xiang .yu ul li{
    padding:0 10px;
    float:left;
}
.movable .xiang .yu ul li a{
    display:block;
    width:98px;
    height:98px;
    border:1px solid #eaeaea;
    overflow:hidden;
    background: url(../images/album-slider-button-h.png) no-repeat 0 0;
}
.movable .xiang .yu ul li a img{
    border:2px solid #fff;
    width:98px;
    height:98px;
}
.movable .xiang .imge{
    width:100%;

    padding-top:20px;
    overflow:hidden;
}
.movable .xiang .imge dt{
    float:left;
    width:610px;

    padding-right:8px;
}
.movable .xiang .imge dd{
    float:left;
    width:148px;
    overflow:hidden;
}
.movable .xiang .imge dd a{
    font-size:16px;
    color:#06a5ff;
}
.movable .xiang .imge dd a.youbian{
    float:right;
}
.movable .xiang .imge dd h2{
    width:100%;
    height:24px;
    line-height:24px;
    border-bottom:2px solid #f5f5f5;
    font-size:14px;
    font-weight:normal;
    color:#1d1d1d;
    padding-top:16px;
    overflow:hidden;
}
.movable .xiang .imge dd p{
    color:#686868;
}

.window .dai{
    width:100%;
    padding-top:1px;
    overflow:hidden;
}
.window .dai dt{
    width:100%;
    padding:0;
    height:29px;
    line-height:29px;
    text-align:center;
    border-top:1px solid #dadbde;
    border-bottom:1px solid #cfcfcf;
    background-color:#e1e4e7;
    font-size:18px;
    overflow:hidden;
}
.window .dai dd{
    width:100%;
    height:24px;
    line-height:24px;
    padding:8px 0;
    font-size:16px;
    color:#686868;
    overflow:hidden;
}
.window .dai dd span{
    float:left;
    width:250px;
    padding-left:28px;
    overflow:hidden;
}
.window .dai dd span.num01{
    width:27px;
    padding:0;
}
.window .dai dd span.num02{
    width:200px;
}
.window .dai dd a{
    float:right;
    margin-right:28px;
}

.sous{
    left:24%;
    width:700px;
}
.sous .top{
    width:650px;
}
.sous ul{
    width:100%;
    padding:10px 0 0;
    overflow:hidden;
}
.sous ul li{
    float:left;
    width:350px;
    line-height:33px;
    padding-bottom:20px;
    font-size:14px;
    color:#3c3a3a;
    overflow:hidden;
}
.sous ul li span{
    float:left;
    width:100px;
    padding-left:30px;
    overflow:hidden;
}
.sous ul li select{
    float:left;
    width:192px;
    height:33px;
    line-height:33px;
    border:none;
    /*background:url('../images/window07.jpg') no-repeat;*/
    background:#FFFFFF;
    border:1px solid #CFCBC8;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
    vertical-align:middle;
    overflow:hidden;
}
.sous ul li.tiao{
    width:100%;
}
.sous ul li.tiao input{
    float:left;
    width:496px;
    padding:0 5px;
    height:33px;
    line-height:33px;
    border:none;
    background:url('../images/window08.jpg') no-repeat;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#969595;
    overflow:hidden;
    margin-left:30px;
}
.sous ul li.tiao input.button{
    width:96px;
    padding:0;
    height:35px;
    font-size:16px;
    text-align:center;
    background:url('../images/window09.jpg') no-repeat;
}

.joinpart{
    left:35%;
    width:405px;
    padding-bottom:0px;
}
.joinpart .top{
    width:355px;
    float:left;
}
.joinpart .divbody{
    float:left;
    width:388px;
    padding:10px 9px 0;
    line-height:38px;
    font-size:15px;
    background-color:#f5f5f5;
    color:#686868;
    overflow:hidden;
}
.joinpart .divbody .search{
    width:100%;
    height:48px;
    overflow:hidden;
}
.joinpart .divbody .search input{
    float:left;
    width:158px;
    height:37px;
    line-height:37px;
    border:none;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
    background:url('../images/input14.gif') no-repeat;
}
.joinpart .divbody .search input.one{
    width:75px;
    height:39px;
    background:url('../images/input15.gif') no-repeat;
    margin-left:6px;
    text-align:center;
}
.joinpart .divbody .search input.two{
    width:79px;
    height:39px;
    float:right;
    background:url('../images/input16.gif') no-repeat;
    text-align:center;
}

.joinpart1{
    left:35%;
    width:435px;
    padding-bottom:0px;
}
.joinpart1 .top{
    width:390px;
    float:left;
}
.joinpart1 .divbody{
    float:left;
    width:425px;
    padding:10px 19px 0;
    line-height:38px;
    font-size:15px;
    background-color:#f5f5f5;
    color:#686868;
    overflow:hidden;
}
.joinpart1 .divbody .search{
    width:95%;
    height:48px;
    overflow:hidden;
}
.joinpart1 .divbody .search input{
    float:left;
    width:158px;
    height:37px;
    line-height:37px;
    border:none;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#686868;
    background:url('../images/input14.gif') no-repeat;
}
.joinpart1 .divbody .search input.one{
    width:75px;
    height:39px;
    background:url('../images/input15.gif') no-repeat;
    margin-left:6px;
    text-align:center;
}
.joinpart1 .divbody .search input.two{
    width:79px;
    height:39px;
    float:right;
    background:url('../images/input16.gif') no-repeat;
    text-align:center;
}

/**
*A锟斤拷RZG锟斤拷锟斤拷锟斤拷删锟斤拷
*/
.select_color_style{
    width:180px;
    background-image:none;
    background-color:#cccccc;
    color:#333;
}
/**
*A锟斤拷RZG锟斤拷锟斤拷锟斤拷删锟斤拷
*/
.newcss{
    width:192px;
    padding:0 5px;
    height:33px;
    line-height:33px;
    border:none;
    /*background:url('../images/window07.jpg') no-repeat;*/
    background:#FFFFFF;
    border:1px solid #CFCBC8;
    font-family:"寰蒋闆呴粦", "瀹嬩綋";
    font-size:14px;
    color:#969595;
    overflow:hidden;
}

.window999{
    position:absolute;
    top:106px;
    left:33%;
    width:466px;
    background-color:#fff;
    color:#000;
    border-bottom:1px solid #dbdcdd;
    padding-bottom:8px;
    overflow:hidden;
    z-index:999;

}

/*鐭俊鍙戦€佸け璐ヤ細鍛�*/
.smsfail{
    left:20%;
    width:810px;
    padding-bottom:0px;
}
.smsfail .top{
    width:760px;
    float:left;
}
.smsfail div.failmem table{
    width:760px;
    padding-top:10px;
    margin:0 auto;
    font-size:14px;
    text-align:center;
    color:#808080;
}

.smsfail div.failmem table tr td{
    height:40px;
    border-bottom:1px solid #E8E8E8;
    word-break: break-all;
    word-wrap:normal;
}
.smsfail div.failmem table tr td div.paging{
    width:100%;
    text-align:center;
    padding-top:0px;
    height:30px;
    overflow:hidden;
}
.smsfail div.failmem table tr td div.paging a{
    display:inline-block;
    width:26px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:url('../images/paging_a.gif') no-repeat center center;
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 3px;
    padding-top:5px;
    overflow:hidden;
}
.smsfail div.failmem table tr td div.paging a:hover,
.smsfail div.failmem table tr td div.paging a.current{
    background:url('../images/paging_h.gif') no-repeat center center;
    color:#f2f2f2;
}
.smsfail div.failmem table tr td input[type=button]{
    font-size:16px;
    width:76px;
    height:39px;
    text-align:center;
    border:none;
    padding:0;
    color:#686868;
    margin:1px 100px;
    font-family:"寰蒋闆呴粦";
    background:#FFFFFF url(../images/input04.gif) no-repeat center center;
}

/*娲诲姩璇︾粏涓凡鎶ュ悕鎴栨湭鎶ュ悕浼氬憳淇℃伅鍒嗛〉鏍峰紡*/
#unPartyInMembers1 .paging{
    width:100%;
    text-align:center;
    padding-top:10px;
    height:28px;
    overflow:hidden;
}
#unPartyInMembers1 .paging a{
    display:inline-block;
    width:26px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:url('../images/paging_a.gif') no-repeat center center;
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 3px;
    overflow:hidden;
}
#unPartyInMembers1 .paging a:hover,
#unPartyInMembers1 .paging a.current{
    background:url('../images/paging_h.gif') no-repeat center center;
    color:#f2f2f2;
}

#unPartyInMembers .paging{
    width:100%;
    text-align:center;
    padding-top:10px;
    height:28px;
    overflow:hidden;
}
#unPartyInMembers .paging a{
    display:inline-block;
    width:26px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:url('../images/paging_a.gif') no-repeat center center;
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 3px;
    overflow:hidden;
}
#unPartyInMembers .paging a:hover,
#unPartyInMembers .paging a.current{
    background:url('../images/paging_h.gif') no-repeat center center;
    color:#f2f2f2;
}


#failAssMemberInfo .paging{
    width:100%;
    text-align:center;
    padding-top:10px;
    height:28px;
    overflow:hidden;
}
#failAssMemberInfo .paging a{
    display:inline-block;
    width:26px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:url('../images/paging_a.gif') no-repeat center center;
    font-family:"Myriad Pro";
    color:#717171;
    margin:0 3px;
    overflow:hidden;
}
#failAssMemberInfo .paging a:hover,
#failAssMemberInfo .paging a.current{
    background:url('../images/paging_h.gif') no-repeat center center;
    color:#f2f2f2;
}
.progressBar{
    visibility:hidden;
    position: absolute;
    width: 220px;
    height:auto;
    z-index: 14;
    top: 60%;
    left: 40%;
    border: 1px solid #808080;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #FFFFFF;
}
.progressBar p{text-align: center;color: #9c9c9c;margin-top: 10px;}
.progressBar img{margin: 10px auto;display: block;}
