#setting-body {
    height:500px;
    overflow-y: auto;
}

#setting-panel{
	border:1px solid #a1a1a1;
    overflow: hidden;
    /*text-align: center;*/
    border-radius: 15px;
    box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);	
}
   
