#content{
    background-color: #f9f9f9;
    width: auto;
    border:1px solid #a1a1a1;
    overflow: hidden;
    /*text-align: center;*/
    border-radius: 15px;
    box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 12px 12px 6px rgba(34, 25, 25, 0.4);
}
#content-navbar a,
#content-navbar a:link,
#content-navbar a:visited,
#content-navbar a:hover,
#content-navbar a:active{
    text-decoration: none;
}
#content-navbar {
    background-color: #d8d8d8;
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
    -webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
}
#content-navbar a{
    color: grey;
}

#content-navbar a:hover,
#content-navbar .active{
    color: #783B1E;
}
#content-navbar i {
    display: block;
}

#content-navbar-menu{
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
}
#content-navbar li {
    text-align: center;
    color: white;
    display: inline-block;
}

.button-text-icon {
    margin-right: 5px;
}

/*input[type=search] {*/
    /*width: 124px !important;*/
/*}*/
/*
 *描述：会员页面
 *页面：occupation.html
 */

#content-area {
    overflow: hidden;
    float: left;
    margin: 0 auto;
}
#table-toolbar{
    height: 35px;
}

#occupation-profile {
    margin: 10px 0;
}
/*.content-area-actionList,*/
/*.content-area-tableList,*/
/*.content-area-pagination{*/
    /*margin: 10px;*/
/*}*/
/*.content-area-tableList {*/
    /*margin-bottom: 10px;*/
/*}*/
.content-area-pagination{
    float: left;
    margin: 0 auto;
}
.content-area-pagination ul{
    float: right;

    margin: 10px 10px 0 0;
}
.content-area-box {
    margin: 0 auto;
    overflow-y: auto;
    padding: 0 10px;
}
#single-toolbar {
    margin: 12px auto;
}

/*.content-area-actionList {*/
    /*margin-bottom: 10px;*/
/*}*/


/*
 *描述：收支页面
 *页面：incomeExport.html
 */
#modal-description {
    height: 200px;
}
/*
 *描述：短信页面
 *页面：SMS.html
 */

.sms-progress {
    width: 20px;
    height: 20px;
}
.left-box {
    float: left;
    width: 238px;
}
.fixed-table-container .table-no-bordered {
    border: 1px solid #ddd;
    border-radius: 4px;
    clear: both;
    position: relative;
}
.right-box {
    float: right;
    width: 860px;
}

#SMS-content {
    float: left;
    margin-top: 10px;

    height: 230px;
}

#footer-toolbar {
    margin-top: 10px;
}

/*
 *描述：反馈页面
 *页面：questions-dialog.html
 */
#dialog-case {
    height: 230px;
    width: auto;
    overflow-y: auto;
}

#questions-detail {
    height: 120px;
    overflow-y: auto;
}
/*
 *描述：相册页面
 *页面：album.html
 */

#album-box {
    margin: 0 auto;
    width: 1128px; ;
    height: 500px;
    overflow-y: auto;
}


@media only screen and (max-width: 768px) {
    #content-navbar-daily li,
    #content-navbar-manage li {
        width: 50px
    }
    #content-area {
        width: 718px;
        height: 600px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-left .list-group{
        width: 139px;
    }
    .content-siderbar-innerList {
        height: 380px;
        color: #D8D8D8;
        overflow: auto;
    }
    #content-area-right {
        width: 559px;
        height: 600px
    }
    .content-area-right-box {
        width: 579px;
        height: 530px
    }
    #content-area-right .content-area-tableList {
        width: 559px;
    }
    #content-area .content-area-tableList {
        width: 758px;
    }

}
@media only screen and (min-width: 768px) {
    #content-navbar i {
        font-size: 25px
    }
    #content-navbar-home {
        margin-right: 5px
    }
    #content-navbar-switch {
        margin-left: 5px
    }
    #content-navbar li {
        padding: 4px
    }
    #content-navbar-menu{
        width: 600px
    }
    #content-navbar-menu li{
        width: 72px
    }
    #content-area {
        width: 718px;
        height: 600px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-left .list-group{
        width: 139px;
    }
    .content-siderbar-innerList {
        height: 380px;
        color: #D8D8D8;
        overflow: auto;
    }
    #content-area-right {
        width: 559px;
        height: 600px
    }
    .content-area-right-box {
        width: 579px;
        height: 530px
    }
    .content-area-box {
        width: 718px;
        height: 530px
    }
    #content-area-right .content-area-tableList {
        width: 559px;
    }
    #content-area .content-area-tableList {
        width: 698px;
    }

    input[type=search] {
    width: 100px !important;
    }
}
@media only screen and (min-width: 992px) {
    #content-navbar i {
        font-size: 30px
    }
    #content-navbar-home {
        margin-right: 20px
    }
    #content-navbar-switch {
        margin-left: 20px
    }
    #content-navbar li {
        padding: 4px
    }
    #content-navbar-menu{
        width: 720px
    }
    #content-navbar-menu li{
        width: 85px
    }
    #content-area {
        width: 938px;
        height: 600px
    }
    #content-area-left {
        height: 600px
    }
    #content-area-left .list-group{
        width: 159px;
    }
    .content-siderbar-innerList {
        height: 380px;
        color: #D8D8D8;
        overflow: auto;
    }
    #content-area-right {
        width: 759px;
        height: 600px
    }
    .content-area-right-box {
        width: 779px;
        height: 530px
    }
    .content-area-box {
        width: 938px;
        height: 530px
    }
    #content-area-right .content-area-tableList {
        width: 759px;
    }
    #content-area .content-area-tableList {
        width: 918px;
    }

    input[type=search] {
        width: 120px !important;
    }
}
@media only screen and (min-width: 1200px) {
    #content-navbar i {
        font-size: 40px
    }
    #content-navbar-home {
        margin-right: 30px
    }
    #content-navbar-switch {
        margin-left: 30px
    }
    #content-navbar li {
        padding: 8px
    }
    #content-navbar-menu{
        width: 880px
    }
    #content-navbar-menu li{
        width: 100px
    }
    #content-area {
        width: 1138px;
        height: 600px
    }
    .content-area-box {
        width: 1138px;
        height: 600px
    }
    /*.content-area-pagination{*/
        /*width: 1138px;*/
        /*height: 70px*/
    /*}*/

    /*#content-area-right table{*/
        /*width: 939px;*/
    /*}*/
    #content-area .content-area-tableList {
        width: 1118px;
    }

    .table-small {
        width: 939px;
    }
    .table-normal{
        width: 1118px;
        margin: 0 auto;
        overflow: auto;
    }
    input[type=search] {
        width: 140px !important;
    }

    .content-occupation-add {
        margin: 10px auto;
        width: 800px;
    }
}